@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter&family=Lexend+Deca&family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter&family=Lexend+Deca&family=Red+Hat+Display:wght@500&display=swap');
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    a:not([class]) {
        text-decoration-skip-ink: auto;
      }
    body{
        min-height:100vh;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    footer{
        padding: 1rem;
        font-size: 0.875rem;
        text-align: center;
    }
    img {
        width: 50px;
        height: auto;
    }
    h2{
        color: hsl(0, 0%, 95%);
        text-transform: uppercase;
        font-family:'Big Shoulders Display', cursive;
        font-weight: 700;
        font-size: 35px;
        margin:30px 0px 25px 0px;

    }
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family:'Lexend Deca', sans-serif ;
        font-weight: 400;
        font-size: 16px;
        line-height:30px;
        margin: 0px 0px 20px 0px;
    }
    .sr-only{
        position: absolute;
        top: auto;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
    }
    .container {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
        justify-content:center;
        width: inherit;
        margin: 10px auto;
    }
    .sedans,
    .suvs,
    .luxury {
        display: flex;
        flex-direction:column;
        align-items: left;
        justify-content: center;
        padding:20px 50px;
        line-height: 25px;
        width: 20rem;
        height: 30rem;
        gap: 5px;
    }
    .sedans {
        background-color:hsl(31, 77%, 52%) ;
        border-radius: 10px 10px 0px 0px;  
    }
    .suvs {
        background-color: hsl(184, 100%, 22%) ;
    }
    .luxury {
        background-color:hsl(179, 100%, 13%);
        border-radius: 0px 0px 10px 10px;
    }  
    .btn {
        display: flex;
        width: 8.7rem;
        height: 2.9rem;
        border-radius: 25px;
        background-color: hsl(0, 0%, 95%);
        font-family:'Lexend Deca', sans-serif ;
        font-weight: 400;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .btn.one {
        color:hsl(31, 77%, 52%);
    }
    .btn.two{
        color: hsl(184, 100%, 22%);
    }
    .btn.three{
        color: hsl(179, 100%, 13%);
    }
   .one:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(31, 77%, 52%); 
        transition: 0.4s;
    }
    .two:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(184, 100%, 22%); 
        transition: 0.4s;
    }
    .three:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(179, 100%, 13%); 
        transition: 0.4s;
    }
    .attribution{
        display: none;
    }


@media all and (min-width:600px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top{
        display: flex;
        width: 600px;
    }
    .bottom{
        width: 600px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sedans {
        border-radius: 10px 0px 0px 0px;  
    }
    .suvs{
        border-radius: 0px 10px 0px 0px;
    }
    .bottom .luxury {
        border-radius: 0px 0px 10px 10px;
        padding: 10px 120px;
        align-items: center;
        justify-content: center;
        width: inherit;
        gap: 15px;
        height: 23rem;
    }  
    .bottom-center{
        text-align: center;
    }
    .sedans,
    .suvs,
    .luxury {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-evenly;
        padding:10px 30px;
        line-height: 0px;
        height: 28rem;
    }
     p{
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
     }  
    h2{
        font-size: 37px;
        padding-bottom: 0px;
    }
    .attribution{
        display: block;
    }
}



@media all and (min-width:990px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 57rem; 
        margin: auto;
    }
    .sedans {
        border-radius: 10px 0px 0px 10px;  
    } 
    .suvs{
        border-radius: 0px 0px;
    }
    .sedans,
    .suvs,
    .bottom .luxury{
        display: flex;
        flex-direction:column;
        align-items: initial;
        justify-content: space-evenly;
        padding:10px 40px;
        line-height: 0px;
        height: 28rem;
        width: 19rem;
    }
     p{
        padding-bottom: 25px;
        font-size: 14px;
        text-align: left;
    }  
    h2{
         font-size: 37px;
        padding-bottom: 0px;
    }
    .top{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 28rem;
        width: 60rem;
    }
    .bottom .luxury {
        border-radius: 0px 10px 10px 0px;
        padding:10px 30px;
        align-items: initial;
        justify-content: space-evenly;
        width: 19rem;
        gap: 0px;
        height: 28rem;
    }
    .bottom-center{
        text-align: left;
    }
    .bottom{
        width: 20rem;
    }
}