@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter&family=Lexend+Deca&family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter&family=Lexend+Deca&family=Red+Hat+Display:wght@500&display=swap');
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    body{
        width: 100%;
        height:100%;
        margin: 0px;

    }
    img {
        width: 50px;
        height: auto;
    }
    h2{
        color: hsl(0, 0%, 95%);
        text-transform: uppercase;
        font-family:'Big Shoulders Display', cursive;
        font-weight: 700;
        font-size: 35px;
        margin:30px 0px 25px 0px;

    }
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family:'Lexend Deca', sans-serif ;
        font-weight: 400;
        font-size: 16px;
        line-height:30px;
        margin: 0px 0px 20px 0px;

    }
    .container {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
        justify-content:center;
        width: 17rem ;
        height:100vh;
        margin: 10px auto;
    }
    .sedans, .suvs, .luxury {
        display: flex;
        flex-direction:column;
        align-items: left;
        justify-content: center;
        padding:20px 50px;
        line-height: 25px;
        height: 32rem;
        gap: 5px;
    }
    .sedans {
        background-color:hsl(31, 77%, 52%) ;
        border-radius: 10px 10px 0px 0px;  
    }
    .suvs {
        background-color: hsl(184, 100%, 22%) ;
    }
    .luxury {
        background-color:hsl(179, 100%, 13%);
        border-radius: 0px 0px 10px 10px;
    }  

    .btn {
        width: 8.7rem;
        height: 2.9rem;
        border-radius: 25px;
        border:none;
        background-color: hsl(0, 0%, 95%);
        font-family:'Lexend Deca', sans-serif ;
        font-weight: 400;
        font-size: 14px;
    }
    .btn.one {
        color:hsl(31, 77%, 52%);
    }
    .btn.two{
        color: hsl(184, 100%, 22%);
    }
    .btn.three{
        color: hsl(179, 100%, 13%);
    }
   .one:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(31, 77%, 52%); 
        transition: 0.4s;
    }
    .two:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(184, 100%, 22%); 
        transition: 0.4s;
    }
    .three:hover{
        color: hsl(0, 0%, 95%);
        border:1px solid  hsl(0, 0%, 95%);
        background-color:hsl(179, 100%, 13%); 
        transition: 0.4s;
    }
    .attribution{
        display: none;
    }
@media all and (min-width:600px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 60rem; 
        height: inherit;
    }
    .sedans {
        border-radius: 10px 0px 0px 10px;  
    }

    .luxury {
        border-radius: 0px 10px 10px 0px;
    }  
    .sedans, .suvs, .luxury {
        display: flex;
        flex-direction:column;
        align-items: left;
        justify-content: space-evenly;
        padding:10px 30px;
        line-height: 0px;
        height: 35rem;
    }
     p{
        padding-bottom: 25px;
        font-size: 14px;
     }  
    h2{
         font-size: 37px;
        padding-bottom: 0px;
    }
    .attribution{
        display: block;
    }
}